.btn {
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    background-color: green;
    margin-right: 10px;
  }
  
  .btn:hover {
    opacity: 0.6;
  }
  
  /* Button Sizes */
  .small {
    font-size: 12px;
    padding: 5px 10px;
  }
  
  .medium {
    font-size: 16px;
    padding: 10px 20px;
  }
  
  .large {
    font-size: 20px;
    padding: 15px 25px;
  }